html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1em;
}

h1 {
  margin: auto;
  padding: 1em;
}

.alphaimg {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: grey;
  background-image: url(test_b_check.jpg);
  border-radius: 5px;
  margin: auto;
}

.swatch {
  height: 200px;
  width: 200px;
  border-radius: 1px;
}

img {
  height: 200px;
  width: 200px;
}

.sliders {
  margin: auto;
  padding: 1em;
  justify-content: flex-start;
  align-content: center;
}

form {
  margin: auto;
}

input {
  width: 200px;
}
