html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1em;
}

h1 {
  margin: auto;
  padding: 1em;
}

.alphaimg {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: grey;
  background-image: url(base.png);
  border-radius: 5px;
  margin: auto;
}

.swatch {
  height: 200px;
  width: 200px;
  border-radius: 1px;
}

img {
  height: 200px;
  width: 200px;
}

.sliders {
  margin: auto;
  padding: 1em;
  justify-content: flex-start;
  align-content: center;
}

form {
  margin: auto;
}

input {
  width: 200px;
  margin: 5px;
}

.hue {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo);
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
}

.sat {
  background-image: linear-gradient(to right, #494949 0%, transparent 100%), linear-gradient(to right, #fff 0%, transparent 100%);
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
}

.light {
  background-image: linear-gradient(to right, #000 0%, transparent 100%), linear-gradient(to right, #fff 0%, transparent 100%);
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
}

.alpha {

}
